
:root{
    --Secondary-Color : #e97100;
    --Primary-Color : rgba(51, 51, 51, 0.664);
    --tw-bg-opacity: 1;
    --footer-color : rgba(107, 114, 128, var(--tw-bg-opacity));
}

body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.bg-fixed{
    color: aliceblue;
    background-image: url('/asset/image/hero-bg.svg');
    background-attachment: fixed;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.hero-section{
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    height: 85vh;
    justify-content: space-evenly;
}

.main-nav{
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    margin: auto;

    justify-content: space-between;
    border-bottom-left-radius: 1.5rem;
    
}

.nav-brand{
    padding-left: 3rem;
    font-family: raleway;
    font-size: 2rem;
    width: 40%;
    min-width: 25rem;
    letter-spacing: 0.3rem;
    cursor: pointer;
}

.nav-menu{
    font-family: 'Lexend Peta', sans-serif;
    /* margin-left: auto; */
    margin: auto;
    padding-left: 0%;
    /* padding-right: 3rem; */
  
    
}
.nav-menu-items a{
    text-decoration: none;
    color: aliceblue;
}

.nav-menu-items a:hover{
    color: var(--Primary-Color);
}

.nav-menu-items{
    display: inline-block;
    text-align: center;
    padding: 1rem 5vw 1rem 5vw;
    /* width: 10rem; */
    /* margin-right: 3rem; */
    margin-top: auto;
}

.hero-img{
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 25rem;
}

.hero-header{
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
    letter-spacing: 0.1rem;
    
   
}

.header{
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
    letter-spacing: 0.1rem;

}

.hero-header-span{
    font-family: 'Lexend Peta', sans-serif;
    color: var(--Primary-Color);
}


.aboutme-inline{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: auto;
}

.aboutme-img{
    order: 1;
    padding: 1rem 1rem 0.5rem 2rem;
    margin: auto;
    align-items: center;
    width: 100%;
    max-width: 25rem;
    height:60%;
}

.aboutme-para{
    font-family: 'Hind', sans-serif;
    order: 2;
    text-align: justify;
    padding: 2rem 2rem 0.5rem 2rem;
    margin: auto; 
    width: 100%;
    max-width: 40rem;
    height: 40%;
    font-size: 1.2rem;
}

.skill-section{
    padding: 3rem;
}

.skill-list{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
    list-style-type: none;
    font-size: 1rem;
    padding-left: 0%;
}

.skill-item{
    font-family: 'Hind', sans-serif;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin: 0.5rem;
    align-items: center;
    width: auto;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: azure;
    border-radius: 1rem;
    background: var(--Primary-Color);
}

.footer-section{
    background-color : var(--footer-color);
    background-attachment: fixed;
    padding: 3rem;
    padding-bottom: 1pt;
}

.footer-social-icons{
    font-family: 'Hind', sans-serif;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    padding: 0%;
    justify-content: center;
    list-style-type: none;
    
}

.fa {
    padding: 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    border-radius: 1rem;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #fb3958;
    color: white;
}

.fa-phone {
    background: #00ccff;
    color: white;
}

.project-inline{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: auto;
    padding-left: 0rem;
}



.project-item{
    font-family: 'Hind', sans-serif;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    max-width: 30rem;
    list-style: none;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    /* margin-top: 1rem; */
    padding: 1rem;
    background-color: var(--Primary-Color);
    border-radius: 2rem;
    height: auto;
}

.project-item:hover{
    opacity:  0.9 ;
}

.project-item h2{
    margin-bottom: 0rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.project-item p{
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: rgba(255, 255, 255, 0.61);;
    text-align: center;
}

.project-item img{
    display: block;
    margin: auto;
    text-align: center;
    width: 80%;
    border-radius: 1rem;
    border-style: ridge;
}

.project-item button {
    border-radius: 2rem;
    background-color: #FD5800;
    border: none;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color:aliceblue;
    min-width: 8rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

  .project-item a:link {
    text-decoration: none;
  }

.button-div{
    display: block;
    text-align: center;
}

  .project-item button:hover{
      background-color: #FF6347;
  }

 




